html {
	overflow-y: scroll;
}

img.source, canvas.source{
	display: none;
}

#sourcetext{
	vertical-align: top;
}

.internal-overlay{
	display: none;
}

canvas#border{
	display: none;
}

#makegif{
	display: none;
}

#throbber{
	display: none;
}

a#showlink{
	display: none;
}
h2.inline{
	display: inline;
}
span#uploading{
	display: none;
}
